################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApplication1/obj
/WebApplication1/.vs/WebApplication1/v16
